{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>
            <i class="fas fa-search" style="margin-right: 10px; font-size: 0.8em;"></i>
            {% trans %}Target Not Found{% endtrans %}
        </h1>
    </div>
</div>
<div class="container">
    <div class="bt-error-container">
        <div class="bt-error-code">404</div>
        <div class="bt-error-message">
            <i class="fas fa-search" style="margin-right: 8px;"></i>
            THE REQUESTED ASSET COULD NOT BE LOCATED
        </div>
        <div class="mt-4">
            <a href="{{ url_for('views.static_html', route='/') }}" class="btn btn-primary">
                <i class="fas fa-arrow-left pe-2"></i>Return to SOC
            </a>
        </div>
    </div>
</div>
{% endblock %}